<ion-content class="ion-padding ion-text-center">

  <img src="assets/logo.png" alt="Logo" class="logo" />

  <h2>Bienvenido</h2>
  <p>Inicia sesión para continuar</p>

  <ion-item>
    <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" label="Contraseña" labelPlacement="floating" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" class="ion-margin-top" (click)="ingresar()">
    Ingresar
  </ion-button>

  <ion-button expand="block" fill="clear" color="medium" (click)="crearCuenta()">
    Crear cuenta
  </ion-button>

</ion-content>
