<form (ngSubmit)="onLogin()" #loginForm="ngForm">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input
      type="text"
      required
      [(ngModel)]="user.username"
      name="username"
      #username="ngModel">
    </ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="username.invalid && username.touched">
    El usuario es obligatorio
  </ion-note>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input
      type="password"
      required
      [(ngModel)]="user.password"
      name="password"
      #password="ngModel">
    </ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="password.invalid && password.touched">
    La contraseña es obligatoria
  </ion-note>

  <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top">
    Ingresar
  </ion-button>
</form>
