<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input
      [(ngModel)]="usuario"
      type="text"
      maxlength="8"
      minlength="3"
      placeholder="Ingresa tu usuario">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input
      [(ngModel)]="password"
      type="password"
      maxlength="4"
      inputmode="numeric"
      placeholder="****">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>

</ion-content>
