<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="departamentos" href="/tabs/departamentos">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Residentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mantencion" href="/tabs/mantencion">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Mantención</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagos" href="/tabs/pagos">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Pagos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trabajadores" href="/tabs/trabajadores">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Personal</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
