<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Bienvenido, {{ username }}</h2>

  <!-- Nombre -->
  <ion-item [@slideInput]="animarNombre ? 'end' : 'start'">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <!-- Apellido -->
  <ion-item [@slideInput]="animarApellido ? 'end' : 'start'">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <!-- Nivel educación -->
  <ion-item>
    <ion-label position="floating">Nivel de educación</ion-label>
    <ion-input [(ngModel)]="nivel"></ion-input>
  </ion-item>

  <!-- Fecha de nacimiento -->
  <mat-form-field appearance="fill" style="width: 100%; margin-top: 15px;">
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Botones -->
  <ion-button expand="block" color="medium" (click)="limpiarCampos()" style="margin-top: 20px;">
    Limpiar
  </ion-button>

  <ion-button expand="block" color="primary" (click)="mostrarDatos()">
    Mostrar
  </ion-button>

</ion-content>
